<div class='fb-tab-pane' id='importPersona'>
<div class='fb-import-persona-wrapper'>

    <input type="file" id="import-persona-file" class='<%= Formbuilder.options.BUTTON_CLASS %> <%= Formbuilder.options.APP_PUBLISH_BUTTON_CLASS %>' title='<%= Formbuilder.options.dict.SET_IMPORT_PERSONA_FILE %>'></input>
    <hr/>
    <textarea id="import-persona-input" class='<%= Formbuilder.options.IMPORT_PERSONA_JSON_CLASS %>' placeholder='<%= Formbuilder.options.dict.SET_IMPORT_PERSONA_JSON %>'></textarea>
    <button id='js-import-persona-json' class='<%= Formbuilder.options.BUTTON_CLASS %> <%= Formbuilder.options.APP_PUBLISH_BUTTON_CLASS %>'><%= Formbuilder.options.dict.IMPORT_PERSONA_JSON %></button>

    <hr/>
    <input type="text" id="import-persona-uri" class='<%= Formbuilder.options.IMPORT_PERSONA_JSON_CLASS %>' placeholder='<%= Formbuilder.options.dict.SET_IMPORT_PERSONA_URI %>'></input>
    <button id='js-import-persona-uri' class='<%= Formbuilder.options.BUTTON_CLASS %> <%= Formbuilder.options.APP_PUBLISH_BUTTON_CLASS %>'><%= Formbuilder.options.dict.IMPORT_PERSONA_URI %></button>
</div>
</div>
